.container {
  display: grid;
  gap: 1em;
  align-content: start;
}

.ticketInfo {
  display: grid;
  gap: 0.5em;
  text-align: center;
}

.buyButton {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 1em 1.5em;
  display: block;
  text-align: center;
  border-radius: 5px;
  transition: opacity 250ms;
}

.buyButton:hover {
  opacity: 0.8;
}

.discordButton {
  border: var(--primary-border);
  padding: 1em 1.5em;
  display: block;
  text-align: center;
  border-radius: 5px;
  transition: background 250ms;
}

.discordButton:hover {
  background-color: var(--secondary-background-color);
}

.rule {
  border-bottom: var(--primary-border);
  width: 2em;
}

.location {
  border: var(--primary-border);
  padding: 1em;
  border-radius: 3px;
}
